body {
    margin: 0;
    padding: 0;
    background-color: #2574A9;
}

div#content {
    width: 600px;
    margin: 10% auto;
    text-align: right;
}

h1, h3, a.email {
    color: #ffffff;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    padding: 2px;
}

h1.hello {
    font-size: 48px;
}

h3.title {
    opacity: .75;
    font-size: 24px;
}

img.email-icon {
    opacity: .45;
    position: relative;
    top: 2px;
    height: 18px;
}

a.email {
    opacity: .9;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

a.email:hover {
    opacity: 1;
}

div.icons {
    display: inline-block;
    padding-top: 20px;
    text-align: right;
    width: 370px;
}

div.icons a {
    opacity: .45;
}

div.icons a:hover {
    opacity: 1;
}
